* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 5rem;
}

:root {
    --fontXL: 3rem;
    --fontL: 2rem;
    --fontB: 1.5rem;
    --fontMM: 1.2rem;
    --fontM: 1rem;
    --fontS: 0.85rem;
    --white1: white;
    --white2: #cdcdcd;
    --black1: black;
    --black2: rgba(0, 0, 0, 0.75);
    --border1: 1rem;
    --border2: 0.5rem;
    --primary: #e37037;
    --dark: #7b3f27;
    --light: #ffbe7d;
}

body {
    background-color: rgb(217, 217, 223);
}

.landing {
    width: 100%;
    min-height: 85dvh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
        url(bekgron.png);
    background-size: cover;
    background-position: center;
    position: relative;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        z-index: 2;
        background: linear-gradient(rgb(14, 5, 0) 95%, rgba(0, 0, 0, 0));
        backdrop-filter: blur(5px);
        padding: 1rem 2rem 1rem 3rem;
        transition: .4s ease;

        .logo {
            a {
                display: flex;
                align-items: center;
                gap: 1rem;
                color: white;
                text-decoration: none;
                transition: .4s ease;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: var(--border2);
                    box-sizing: content-box;
                }
                &:hover {
                    text-shadow: 0px 0px 5px var(--primary);
                }
            }
        }

        .nav {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            gap: 2rem;
            transition: .4s ease;

            a {
                text-decoration: none;
                color: var(--white2);
                transition: .4s ease;

                &:hover {
                    color: var(--white1);
                    text-shadow: 0px 0px 10px var(--primary);
                }
            }
        }

        i {
            z-index: 3;
            color: var(--white1);
            transition: .4s;

            &:hover {
                scale: 1.2;
            }

            &:active {
                scale: 0.9;
            }
        }
    }

    .closeNavbar {
        width: 24%;
        overflow: hidden;
        border-bottom-right-radius: var(--border1);
    }

    .closeNav {
        width: 0%;
        overflow: hidden;
    }

    .hero-page {
        padding: 2rem 3rem;
        position: absolute;
        bottom: 1rem;
        color: white;

        h1 {
            font-size: var(--fontXL);

            b {
                color: var(--light);
            }

            b.b2 {
                color: var(--light);
            }
        }

        p {
            text-align: justify;
            width: 60%;
            font-size: var(--fontM);
        }

        button {
            margin-top: 3rem;
            background-color: rgba(0, 0, 0, 0.3);
            cursor: pointer;
            padding: 0.75rem 2rem;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 0.4rem;
            transition: 0.5s ease;

            a {
                color: white;
                text-decoration: none;
                font-size: var(--fontM);
            }

            &:hover {
                background-color: rgba(0, 0, 0, 1);
                border-color: var(--primary);
                text-shadow: 0px 0px 10px var(--light);
                box-shadow: 0px 0px 5px var(--light);
            }
        }

    }
}

.isiWeb {
    background-color: rgb(217, 217, 223);
    padding: 2rem 3rem;

    .discover {
        margin-bottom: 5rem;
        width: 100%;
        padding: 1rem 2rem;
        position: relative;

        h2.dis-header {
            color: var(--black1);
            margin-bottom: 0.5rem;
            font-size: var(--fontL);
        }

        p.dis-header {
            color: var(--black2);
            margin-bottom: 1.5rem;
            font-size: var(--fontM);
        }

        .box-discover {
            display: flex;
            gap: 1rem;
            padding: 1rem 0;
            width: 100%;

            hr {
                border: 1px solid var(--black2);
                border-radius: var(--border1);
                opacity: 0;
                transition: .4s ease-out;
            }

            .box {
                background-color: #ffffff4e;
                flex: 0 0 auto;
                width: 250px;
                border-radius: var(--border2);
                transition: 0.4s ease;

                &:hover {
                    transform: translateY(-0.5rem);

                    hr:has(+ &) {
                        /*GILA COK keren bisa gitu*/
                        opacity: 1;
                    }
                }

                .text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: .5rem 0 .5rem .5rem;
                    transition: .4s ease;

                    &:hover {
                        padding: 0 .5rem;

                        .info p {
                            color: var(--primary);

                            i {
                                color: var(--primary);
                            }
                        }
                    }

                    .info {
                        h3 {
                            color: var(--black1);
                            font-size: var(--fontB);
                        }

                        p {
                            color: var(--black2);
                            font-size: var(--fontM);

                            i {
                                color: var(--black2);
                                margin-right: 0.3rem;
                            }
                        }
                    }

                    .arrow {
                        i {
                            color: var(--black1);
                            border: 1px solid #e0e0e0;
                            border-radius: var(--border2);
                            padding: .5rem 1rem;
                            font-size: var(--fontM);
                            transition: background-color 0.3s ease, color 0.3s ease;

                            &:hover {
                                background-color: var(--black1);
                                color: var(--light);
                            }
                        }
                    }
                }

                img {
                    width: 250px;
                    height: 6rem;
                    object-fit: cover;
                    border: 1.35px solid black;
                    border-radius: var(--border2);
                    transition: transform 0.4s ease;
                    filter: grayscale(.2);

                    &:hover {
                        transform: scale(1.05);
                        filter: none;
                    }
                }
            }
        }
    }

    .tours {
        width: 100%;
        padding: 1rem 2rem;

        .tour {
            display: flex;
            justify-content: space-between;
            align-items: end;

            .header {
                p {
                    font-size: var(--fontB);
                    color: var(--black2);
                }

                h1 {
                    font-size: var(--fontXL);
                }
            }

            .desc {
                width: 30%;
                margin-bottom: .5rem;
                text-align: justify;

                p {
                    font-size: var(--fontM);
                    color: var(--black2);
                }
            }
        }

        .flex-container {
            width: 100%;

            .row {
                display: flex;
                gap: 1rem;
                margin-top: 2rem;

                .item {
                    width: 50%;
                    height: 300px;
                    position: relative;
                    transition: .4s ease;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: var(--border1);
                    }

                    .text {
                        height: 4.75rem;
                        overflow: hidden;
                        padding: 15px;
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        position: absolute;
                        bottom: 1rem;
                        left: 1rem;
                        background-color: rgba(0, 0, 0, 0.5);
                        border-radius: var(--border2);
                        transition: .4s ease;

                        p {
                            color: var(--white2);
                            font-size: var(--fontM);
                        }

                        h1 {
                            color: var(--white1);
                            font-size: var(--fontL);
                        }

                        .spec {
                            transition: .4s ease;

                            .place {
                                display: flex;
                                gap: .5rem;
                                margin: .5rem 0;

                                i {
                                    font-size: var(--fontM);
                                    color: var(--primary);
                                }

                                p {
                                    font-size: var(--fontM);
                                    color: var(--white1);
                                }
                            }

                            .price {
                                font-size: var(--fontB);
                                color: var(--primary);
                                text-shadow: 0 0 5px var(--dark);
                            }

                            &:hover {
                                padding-left: .5rem;
                            }
                        }
                    }
                }
            }

            .row>.item:hover {
                width: 75%;

                .text {
                    height: fit-content;
                }
            }

            .row:has(.item:hover) .item:not(:hover) {
                width: 25%;
            }
        }
    }

    .news {
        padding: 3rem 2rem;
        margin-top: 5rem;
        background-color: #f5f5f5;
        width: 100%;

        .news-header {
            text-align: center;
            margin-bottom: 2rem;

            h2 {
                font-size: var(--fontXL);
                color: #333;
                margin-bottom: 1rem;
            }

            p {
                font-size: var(--fontMM);
                color: #666;
            }
        }

        .news-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .news-item {
                width: 30%;
                background-color: var(--white1);
                border-radius: var(--border2);
                overflow: hidden;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                position: relative;

                /* Add space for the button */
                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-bottom: 1.5px solid black;
                }

                .news-content {
                    padding: 1rem;

                    h3 {
                        font-size: var(--fontB);
                        margin-bottom: 1rem;
                        color: #333;
                    }

                    .news-date {
                        font-size: var(--fontS);
                        color: #888;
                        margin-bottom: 1rem;
                    }

                    .news-excerpt {
                        font-size: var(--fontM);
                        color: #555;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .news-item {
            width: 100%;
        }
    }

    .about {

        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(fit-content, 1fr);
            gap: 1rem;
            margin: 3rem 0;
            grid-auto-flow: row;

            .box {
                background-color: white;
                text-align: center;
                padding: 2rem 2rem 1rem 2rem;

                i {
                    font-size: 65px;
                    color: gray;
                    margin-bottom: 10px;
                }

                h5 {
                    margin-top: 5px;
                    color: gray;
                }
            }
        }

        .contain {
            display: flex;

            .e {
                width: 50%;
                height: 400px;
                color: white;
                background-color: rgb(255, 255, 255);
                padding: 0 2rem 1rem 2rem;

                p {
                    text-align: justify;
                    font-size: var(--fontMM);
                    float: right;
                    color: rgb(65, 65, 65);
                }

                p.header {
                    text-align: right;
                    font-size: var(--fontL);
                    width: 100%;
                    margin: 1rem 0;
                    color: black;
                    font-weight: bold;
                }
            }

            .f {
                width: 50%;
                height: 400px;
                align-content: center;

                iframe {
                    width: 100%;
                    height: 400px;
                    filter: grayscale(.5);
                    transition: .4s ease;

                    &:hover {
                        filter: none;
                    }
                }
            }
        }
    }
}
.footer {
    margin-top: 10rem;
    width: 100%;
    background-color: #555;
    min-height: 5rem;
    background: white;
    text-align: center;
    padding: 2rem 3rem;
    .row-footer {
        display: flex;
        justify-content: space-between;
        .bot-nav{
            width: 30%;
        }
        .infoma {
            display: block;
            h3 {
                text-align: left;
                font-weight: bold;
                font-size: var(--fontL);
                color: #2c2c2b;
                margin-bottom: 1rem;
            }
            ul li {
                color: #bebbbb;
                font-size: 14px;
                text-align: left;
                line-height: 35px;
                display: inline-block;
            }
            ul.conta {
                padding-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                li {
                    color: #434342;
                    font-size: 17px;
                    line-height: 18px;
                    display: flex;
                    align-items: center;
                    i {
                        padding-right: 15px;
                        text-align: center;
                        font-size: 18px;
                        color: #8e8e8e;
                    }
                    a {
                        color: #434342;
                    }
                }
            }
            ul.fullink{
                display: flex;
                justify-content: space-between;
                li{
                    a {
                        color: var(--black2);
                        font-size: var(--fontM);
                        text-decoration: none;
                        &:hover {
                            color: var(--black1);
                        }
                    }
                }
            }
            ul.social_icon {
                display: flex;
                gap: 2rem;
                justify-content: center;
                margin: 1rem 0;
                li {
                    display: block;
                    border-radius: 50%;
                    a {
                        background: #343334;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        border-radius: 50%;
                        text-decoration: none;
                        i {
                            font-size: var(--fontM);
                            transition: 0.4s ease;
                        }
                        &:hover {
                            background: var(--primary);
                            transition: 0.4s ease;
                        }
                    }                    
                }
            }
            .row-infoma{
                .newsl {
                    width: 100%;
                    margin-bottom: 1rem;
                    padding: .5rem 0 .5rem .5rem;
                    border: none;
                    border-bottom: 2px solid gray;
                    color: var(--black1);
                    outline: none;
                    font-size: var(--fontM);
                    box-shadow: 0 0 5px 0px #dddddd4d;
                    transition: .4s ease;
                    &:focus{
                        border-bottom: 2px solid var(--primary);
                    }
                }
                .subsci_btn {
                    display: inline-block;
                    padding: .5rem 1rem;
                    background-color: var(--primary);
                    color: #fff;
                    font-size: var(--fontM);
                    text-decoration: none;
                    border-radius: .25rem;
                    float: right;
                    transition: background-color 0.4s ease;
                    &:hover {
                        background-color: var(--dark);
                    }
                }
            }
        }
    }
}
.copyright {
    margin-top: 3rem;
    background: #cacaca;
    p {
        color: var(--black2);
        font-size: var(--fontM);
        text-align: center;
        padding: 2rem 0;
        font-weight: 400;
        font-weight: normal;
    }
}