* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --fontXL: 3rem;
    --fontB: 1.5rem;
    --fontM: 1rem;
    --fontS: 0.8rem;
    --white1: white;
    --white2: #cdcdcd;
    --black1: black;
    --black2: rgba(0, 0, 0, 0.75);
    --border1: 1rem;
    --border2: 0.5rem;
}

.landing {
    width: 100%;
    min-height: 85dvh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
        url(bekgron.png);
    background-size: cover;
    background-position: center;
    position: relative;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.65);
        backdrop-filter: blur(5px);
        padding: 1rem 2rem;
        border-bottom-left-radius: var(--border1);
        border-bottom-right-radius: var(--border1);

        .group {
            display: flex;
            align-items: center;
            gap: 3rem;

            .logo {
                display: flex;
                align-items: center;
                color: white;
            }

            .nav {
                display: flex;
                align-items: center;
                gap: 2rem;

                a {
                    text-decoration: none;
                    color: var(--white2);

                    &:hover {
                        color: var(--white1);
                    }
                }
            }
        }

        .search {
            form {
                border: 1.5px solid rgb(255, 255, 255);
                border-radius: 0.4rem;
                background-color: rgba(245, 245, 245, 0.15);
                height: 2rem;
                display: flex;
                align-items: center;
                padding: 0 0.5rem;
            }

            input {
                height: 100%;
                cursor: text;
                border: none;
                background-color: transparent;
                color: var(--white2);
                padding-left: 0.5rem;
                outline: none;
                text-transform: capitalize;
            }

            i {
                color: white;
                cursor: pointer;
            }
        }

        .login {
            display: flex;
            height: 2rem;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 0.4rem;

            button {
                cursor: pointer;
                padding: 0 1rem;
                height: 100%;
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
            }

            button.b2 {
                padding: 0 0.5rem;
                border: 1.5px solid rgb(255, 255, 255);
                border-radius: 0.4rem;
                background-color: whitesmoke;
                color: black;
            }

            .b1:hover {
                border: 1.5px solid rgb(255, 255, 255);
                border-radius: 0.4rem;
                background-color: whitesmoke;
                color: black;
            }

            .b1:hover~.b2 {
                background-color: transparent;
                border: none;
                color: white;
            }
        }
    }

    .hero-page {
        padding: 2rem 3rem;
        position: absolute;
        bottom: 1rem;
        color: white;

        h1 {
            font-size: var(--fontXL);
        }

        p {
            text-align: justify;
            width: 60%;
            font-size: var(--fontM);
        }

        button {
            margin-top: 3rem;
            background-color: rgba(0, 0, 0, 0.3);
            cursor: pointer;
            padding: 0.75rem 2.5rem;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 0.4rem;
            transition: 0.5s ease;

            a {
                color: white;
                text-decoration: none;
                font-size: var(--fontM);
            }

            &:hover {
                background-color: rgba(0, 0, 0, 1);
                text-shadow: 0px 0px 10px rgb(255, 255, 255);
                box-shadow: 0px 0px 5px rgb(255, 255, 255);
            }
        }

    }
}
.isiWeb{
    background-color: #adadad;
    padding: 2rem 3rem;
    .discover {
        margin-bottom: 5rem;
        background-color: ghostwhite;
        width: 100%;
        padding: 1rem 2rem;
        position: relative;

<<<<<<< HEAD
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 2rem;
            z-index: 1;
        }

        &::after {
            right: 0;
            background: linear-gradient(to left, ghostwhite 10%, transparent);
        }

        h2.dis-header {
            color: var(--black1);
            margin-bottom: 0.5rem;
        }

        p.dis-header {
            color: var(--black2);
            margin-bottom: 1.5rem;
        }

        .box-discover {
            display: flex;
            gap: 1.5rem;
            padding: 1rem 0;
            overflow-x: scroll;

            hr{
                border: 1.75px solid var(--black2);
                border-radius: var(--border1);
            }

            .box {
                background-color: rgb(244, 244, 251);
                flex: 0 0 auto;
                width: 18rem;
                padding: .5rem 1rem;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
                transition: 0.4s ease;
    
                &:hover {
                    background-color: rgb(233, 233, 240);
                    transform: translateY(-0.5rem);
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
                    border-radius: var(--border2);
                }
    
                .text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: .5rem;
    
                    .info {
                        h3 {
                            color: var(--black1);
                            font-size: var(--fontB);
                        }
    
                        p {
                            color: var(--black2);
                            font-size: var(--fontM);
    
                            i {
                                color: var(--black2);
                                margin-right: 0.3rem;
                            }
                        }
                    }
    
                    .arrow {
                        i {
                            color: var(--black1);
                            border: 1px solid #e0e0e0;
                            border-radius: var(--border2);
                            padding: .5rem 1rem;
                            font-size: var(--fontM);
                            transition: background-color 0.3s ease, color 0.3s ease;
    
                            &:hover {
                                background-color: var(--black1);
                                color: #fff;
                            }
                        }
                    }
                }
    
                img {
                    width: 100%;
                    height: 6rem;
                    object-fit: cover;
                    border-radius: var(--border2);
                    transition: transform 0.4s ease;
                    filter: grayscale(.3);
    
                    &:hover {
                        transform: scale(1.05);
                        filter: none;
                    }
                }
            }
        }
    }
}
.box-d1 h6 {
    font-size: 14pt;
    padding: 3rem;
}

.box-d1 p {
=======
/* starts discover section */
section{
  padding: 1rem 10% 9% 8%;
}

  .box-discover {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, auto));
    gap: -20rem;
  }
  .box-discover img{
    border-radius: 10px;
    width: 95%;
    height: 40%;
  }
  .box-d1 .text{
    display: flex;
    padding: 0.5rem;
  }
  .arrow{
    border: 1px solid rgb(202, 202, 202);
    border-radius: 6px;
    width: 3rem;
    font-size: 12pt;
    margin-left: 8.5rem;
    cursor: pointer;
    text-decoration: none;
  }
  .arrow i{
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .box-d1 h4 {
    font-size: 15pt;
  }
  .d1t2{
    display: inline-flex;
    margin-top: 0.6rem;
  }
  .text p {
>>>>>>> 67c31692385ca8e026b2739ba23368b31b3ec19f
    font-size: 12pt;
    color: rgb(116, 116, 116);
    margin-left: 0.5rem;
  }
  
  /* ends discover section */
  

/* TOUR */
.smua {
    width: 93%;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3vw;
    margin: 0;
    background-color: red;
}

.smua p {
    color: rgb(110, 110, 110);
}

.des {
    float: right;
    margin-top: -7vw;
    font-size: 1.5vw;
}

.jdlaja h1 {
    font-size: 4vw;
    margin-top: -1vw;
}

.jdlaja p {
    font-size: 2vw;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.item6 {
    grid-area: kaki;
}

.grid-container p {
    font-size: 1.2vw;
    margin-left: 2vw;
    color: rgb(223, 223, 223);
}

.grid-container h1 {
    font-size: 2vw;
    margin-left: 2vw;
    margin-top: -1vw;
    color: white;
}

.grid-container .b {
    margin-top: -8vw;
}

.grid-container .a {
    position: relative;
    top: -6.5vw;
}

.grid-container {
    display: grid;
    gap: 20px;
    grid-template-areas:
        'header header header header menu menu'
        'main main main main main right'
        'footer footer kaki kaki kaki kaki';
}

.grid-container .item1 img {
    width: 100%;
}

.grid-container .item2 img {
    width: 100%;
}

.grid-container .item3 img {
    width: 100%;
}

.grid-container .item5 img {
    width: 100%;
}

.grid-container .item4 img {
    width: 100%;
}

.grid-container .item6 img {
    width: 100%;
}

.grid-container img {
    height: 50vh;
    border-radius: 1cm;
    width: auto;
}

.grid-container>div {
    margin: -10px 0;
    font-size: 30px;
}

.grid-container .item2 img {
    float: right;
}

.grid-container .item4 img {
    float: right;
}

.grid-container .item6 img {
    float: right;
}
