* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --fontXL: 3rem;
    --fontB: 1.5rem;
    --fontM: 1rem;
    --fontS: 0.8rem;
    --white1: white;
    --white2: #cdcdcd;
    --black1: black;
    --black2: rgba(0, 0, 0, 0.75);
    --border1: 1rem;
    --border2: 0.5rem;
}

.landing {
    width: 100%;
    min-height: 85dvh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),
        url(bekgron.png);
    background-size: cover;
    background-position: center;
    position: relative;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: fixed;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.65);
        backdrop-filter: blur(5px);
        padding: 1rem 2rem;
        border-bottom-left-radius: var(--border1);
        border-bottom-right-radius: var(--border1);

        .group {
            display: flex;
            align-items: center;
            gap: 3rem;

            .logo {
                display: flex;
                align-items: center;
                color: white;
            }

            .nav {
                display: flex;
                align-items: center;
                gap: 2rem;

                a {
                    text-decoration: none;
                    color: var(--white2);

                    &:hover {
                        color: var(--white1);
                    }
                }
            }
        }

        .search {
            form {
                border: 1.5px solid rgb(255, 255, 255);
                border-radius: 0.4rem;
                background-color: rgba(245, 245, 245, 0.15);
                height: 2rem;
                display: flex;
                align-items: center;
                padding: 0 0.5rem;
            }

            input {
                height: 100%;
                cursor: text;
                border: none;
                background-color: transparent;
                color: var(--white2);
                padding-left: 0.5rem;
                outline: none;
                text-transform: capitalize;
            }

            i {
                color: white;
                cursor: pointer;
            }
        }

        .login {
            display: flex;
            height: 2rem;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 0.4rem;

            button {
                cursor: pointer;
                padding: 0 1rem;
                height: 100%;
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
            }

            button.b2 {
                padding: 0 0.5rem;
                border: 1.5px solid rgb(255, 255, 255);
                border-radius: 0.4rem;
                background-color: whitesmoke;
                color: black;
            }

            .b1:hover {
                border: 1.5px solid rgb(255, 255, 255);
                border-radius: 0.4rem;
                background-color: whitesmoke;
                color: black;
            }

            .b1:hover~.b2 {
                background-color: transparent;
                border: none;
                color: white;
            }
        }
    }

    .hero-page {
        padding: 2rem 3rem;
        position: absolute;
        bottom: 1rem;
        color: white;

        h1 {
            font-size: var(--fontXL);
        }

        p {
            text-align: justify;
            width: 60%;
            font-size: var(--fontM);
        }

        button {
            margin-top: 3rem;
            background-color: rgba(0, 0, 0, 0.3);
            cursor: pointer;
            padding: 0.75rem 2.5rem;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 0.4rem;
            transition: 0.5s ease;

            a {
                color: white;
                text-decoration: none;
                font-size: var(--fontM);
            }

            &:hover {
                background-color: rgba(0, 0, 0, 1);
                text-shadow: 0px 0px 10px rgb(255, 255, 255);
                box-shadow: 0px 0px 5px rgb(255, 255, 255);
            }
        }

    }
}

.isiWeb {
    background-color: rgb(217, 217, 223);
    padding: 2rem 3rem;

    .discover {
        margin-bottom: 5rem;
        width: 100%;
        padding: 1rem 2rem;
        position: relative;

        h2.dis-header {
            color: var(--black1);
            margin-bottom: 0.5rem;
        }

        p.dis-header {
            color: var(--black2);
            margin-bottom: 1.5rem;
        }

        .box-discover {
            display: flex;
            gap: 1rem;
            padding: 1rem 0;
            width: 100%;

            hr {
                border: 1px solid var(--black2);
                border-radius: var(--border1);
                opacity: 0;
                transition: .4s ease-out;
            }

            .box {
                background-color: #ffffff4e;
                flex: 0 0 auto;
                width: 250px;
                border-radius: var(--border2);
                transition: 0.4s ease;
                &:hover {
                    transform: translateY(-0.5rem);
                    
                    hr:has(+ &) { /*GILA COK keren bisa gitu*/
                        opacity: 1;
                    }
                }
                .text {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: .5rem 0 .5rem .5rem;
                    transition: .4s ease;
                    &:hover{
                        padding: 0 .5rem;
                    }
                    .info {
                        h3 {
                            color: var(--black1);
                            font-size: var(--fontB);
                        }

                        p {
                            color: var(--black2);
                            font-size: var(--fontM);

                            i {
                                color: var(--black2);
                                margin-right: 0.3rem;
                            }
                        }
                    }

                    .arrow {
                        i {
                            color: var(--black1);
                            border: 1px solid #e0e0e0;
                            border-radius: var(--border2);
                            padding: .5rem 1rem;
                            font-size: var(--fontM);
                            transition: background-color 0.3s ease, color 0.3s ease;

                            &:hover {
                                background-color: var(--black1);
                                color: #fff;
                            }
                        }
                    }
                }

                img {
                    width: 250px;
                    height: 6rem;
                    object-fit: cover;
                    border-radius: var(--border2);
                    transition: transform 0.4s ease;
                    filter: grayscale(.2);

                    &:hover {
                        transform: scale(1.05);
                        filter: none;
                    }
                }
            }
        }
    }
}
.smua {
    width: 100%;
    padding: 1rem 2rem;
    .tur{
        display: flex;
        justify-content: space-between;
        align-items: end;
        .header{
            p{
                font-size: var(--fontB);
                color: var(--black2);
            }
            h1{
                font-size: var(--fontXL);
            }
        }
        .desc{
            width: 30%;
            margin-bottom: .5rem;   
            text-align: justify;
            p{
                font-size: var(--fontM);
                color: var(--black2);
            }
        }
    }
}
.grid-container {
    margin-top: 3rem;
    display: grid;
    gap: 1rem;
    row-gap: 0rem;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        'header header menu'
        'main right right'
        'footer footer kaki'
    ;
}
.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.item6 {
    grid-area: kaki;
}

.grid-container p {
    font-size: 1.2vw;
    margin-left: 2vw;
    color: rgb(223, 223, 223);
}

.grid-container h1 {
    font-size: 2vw;
    margin-left: 2vw;
    margin-top: -1vw;
    color: white;
}

.grid-container .b {
    margin-top: -8vw;
}

.grid-container .a {
    position: relative;
    top: -6.5vw;
}


.grid-container .item img {
    width: 100%;
}

.grid-container img {
    height: 50vh;
    border-radius: var(--border1);
    width: auto;
    margin-top: -1rem;
}

.grid-container>div {
    font-size: 30px;
}

.grid-container .item2 img {
    float: right;
}

.grid-container .item4 img {
    float: right;
}

.grid-container .item6 img {
    float: right;
}